<!DOCTYPE html>
<html>
  <head>
    <title>Script Corporation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<% if flash[:succes] %>
  <div class="alert alert-success" role="alert">
  Se registro correctamente.
  </div>
  <%= flash[:succes] %>
   

   <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
         Fallo al momento de registrar.
        </div>
  <%= flash[:error] %>



<% end %>
<%= yield %>
  </body>
</html>