<div id="wrapper">
  <%= render 'header' %>
  <%= render 'menu_nav' %>
  <div id="page-wrapper">
    <br>
    <div class="row">
      <div class="col-lg-12">
        <h4><b><%= image_tag("guardar.png")+"  Registro" %></b></h4>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!--h3 class="panel-title"></h3-->
            <div class="row">
              <div class="col-lg-4">
                <!-- No entiendo para que creas aqui un formulario vacio , casi todo el codigo de esta parte es innecesario
                <%= form_tag({controller: "admin", action: "idvestido"}, method: "get" )  %>

              </form>
            -->
          </div>
        </form>
      </div>
      <div class="panel-body">
        <div class="form-group"><!-- para que quieres este form group aqui???-->


          <%= form_tag({controller: "admin", action: "actualizarv"}, method: "get" )  %>

          <input type="hidden" name="Id" value="<%= $id %>"><!-- se debe pasar el id, de otro modo no sabra que registro modificar, este debe estar oculto-->
          <input type="hidden" name="isUpdate" value="Y"><!-- campo de truco para hacer que el metodo actualice -->

          <div class="form-group">
            <label for="des">Descripcion</label>
            <input class="form-control input-lg" name="descripcion"  value="<%= $result[0]['descripcion'] %>" type="text" placeholder="Una descripcion breve del vestido">
          </div>

          <div class="col-xs-4">
            <label for="ex3">Estilo</label>
            <input class="form-control" name="estilo"  value="<%= $result[0]['estilo'] %>" type="text">
          </div>

        </br></br></br></br></br>

        <div class="col-xs-2">
          <label for="ex1">Talla</label>
          <input class="form-control" name="talla"  value="<%= $result[0]['talla'] %>" type="text">
        </div>

      </br></br></br></br></br>

      <div class="col-xs-2">
        <label for="ex2">Precio</label>
        <input class="form-control" name="precio"  value="<%= $result[0]['precio'] %>" type="text" placeholder="MXN">
      </div>


      <div class="col-xs-2">
        <label for="ex4">Cantidad</label>
        <input class="form-control" name="cantidad"  value="<%= $result[0]['cantidad'] %>" type="text" placeholder="0">
      </div>

    </br></br></br></br></br>

    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="//68.cdn.pagina.mx/images/cp/site/store/str_prod_med.jpg" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><!-- este H5 no tiene final, busca donde se cierra -->
          <span class="add_image fileinput-button">
            <i class="str_up"></i>
            <span>Escoge una imagen</span>
            <input type="file" name="imagen" value="<%= $result[0]['imagen'] %>" id="imagen" />
          </span>
        </div>

      </br></br></br></br></br>
      <!-- BASICO HTML so no usas un submit los datos del formulario no se enviaran
      <%= button_to 'Actualizar', controller: 'admin', action: 'actualizarv', method: :post %>
    -->
    <input type="submit" value="actualizar" class="btn btn-primary">

  </div>

</form>

</div>
</div>
</div>
</div>
</div>
</div>
