<div id="wrapper">
  <%= render 'header' %>
  <%= render 'menu_nav' %>
  <div id="page-wrapper">
    <br>
    <div class="row">
      <div class="col-lg-12">
        <h4><b><%= image_tag("paquete.png")+"  Pedidos" %></b></h4>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!--h3 class="panel-title"></h3-->
            <div class="row">
              <div class="col-lg-4">
                <%= form_tag({controller: "admin", action: "listapedido"}, method: "get" )  %>
                <div class="input-group">
                  <!--span class="input-group-addon">$</span-->
                  <input type="text" class="form-control" name="id" placeholder="Número de pedido">
                  <span class="input-group-addon">
                    <input type="submit" class="glyphicon" value="&#57347;" style="border:none; background: none;">
                  </span>
                </div>
              </form>
            </div>
             </div>
             
           
        </form>
      </div>
      <div class="panel-body">
        <div class="table-responsive" id="renderPedidos" datos="<%= $result %>"></div>
        <script type="text/javascript">
        header = new Header();
        header.addCol("Fecha de Pedido", undefined);
        header.addCol("Pedido", undefined);
        header.addCol("Ver", undefined);
        header.addCol("Tipo de Pedido", undefined);
      

        table = new TableRender();
        table.pagesize = 10;
        table.tableclass = "table table-striped table-bordered";
        table.header = header;
        table.emptyMsg = "No tienes pedidos todavía.";
        table.setParentId("renderPedidos");
        table.render = function(item, elemento) {
          item.createCell(elemento.fecha_pedido, undefined, undefined);
          item.createCell(elemento.id, undefined, undefined);
          item.createCell(undefined, undefined, '<form action="/admin/mostrarp" method="get"><input type="hidden" name="id"  id="id" value="'+elemento.id+'"><input class="btn btn-info glyphicon glyphicon-eye-open" type="submit" value="&#xe105;"></form>');
          item.createCell(elemento.tipo, undefined, undefined);
        }
        table.make();
        </script>
     
      </div>
    </div>
  </div>
</div>
</div>
</div>