<div id="wrapper">
  <%= render 'header' %>
  <%= render 'menu_nav' %>
  <div id="page-wrapper">
    <br>
    <div class="row">
      <div class="col-lg-12">
        <h4><b><%= image_tag("v.png")+"  Vestidos" %></b></h4>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!--h3 class="panel-title"></h3-->
            <div class="row">
              <div class="col-lg-4">
                <%= form_tag({controller: "admin", action: "listavestido"}, method: "get" )  %>
                <div class="input-group">
                  <!--span class="input-group-addon">$</span-->
                  <input type="text" class="form-control" name="id" placeholder="Código Vestido">
                  <span class="input-group-addon">
                    <input type="submit" class="glyphicon" value="&#57347;" style="border:none; background: none;">
                  </span>
                </div>
              </form>
            </div>
            <div class="col-lg-4"><!--vacio--></div>
            <div class="col-lg-4 text-right">
              <button type="button" class="btn btn-link">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>Añadir vestido</span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-body">
        <div class="table-responsive" id="renderVestidos" datos="<%= $result %>"></div>
        <script type="text/javascript">
        header = new Header();
        header.addCol("Imagen", "Imagen del producto");
        header.addCol("Descripcion", undefined);
        header.addCol("Talla", undefined);
        header.addCol("Precio", undefined);
        header.addCol("Opciones", undefined);

        table = new TableRender();
        table.pagesize = 10;
        table.tableclass = "table table-striped table-bordered";
        table.header = header;
        table.emptyMsg = "No hay datos";
        table.setParentId("renderVestidos");
        table.render = function(item, elemento) {
          item.createCell(elemento.imagen, undefined, undefined);
          item.createCell(elemento.descripcion, undefined, undefined);
          item.createCell(elemento.talla, undefined, undefined);
          item.createCell(elemento.precio, undefined, undefined);
          item.createCell(undefined, undefined, '<form action="/admin/borrarv" method="get"><input type="hidden" id="id" name="id" value="'+elemento.Id+'"><input class="btn btn-danger glyphicon" type="submit" value="&#57376;"></form>');
        }
        table.make();
        </script>
      </div>
    </div>
  </div>
</div>
</div>
</div>
