<!DOCTYPE html>
<html>
  <head>
    <title>Script Corporation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
        <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
         Email o contraseña incorrecta.
        </div>
    <%= flash[:notice] %>




       
    <% end %>
    <%= yield %>
  </body>
</html>
